* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



canvas {
    top:0;
    margin-top: 3%;
    display: block;
}


html {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-shadow: 1px 1px #666666;
}

body {
    background-image: url('assets/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #333;
    text-align: right;
    padding: 1% 0;
    opacity: 0.3;
    height:13%;
}

#footer h6,
#footer h5 {
    margin: 1em 3em;
    font-weight: normal;
}

ul {
    list-style-type: none;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    height:7%;
}

li {
    display: inline-block;
    vertical-align: bottom;
}

li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    display: block;
}

.logo_nav {
    height: auto;
    width: 20%;
    position: relative;
    margin: 0% 10%;
    float: left;
}

#index_container {
    text-align: center;
}

.big_logo {
    margin-top: 8%;
    vertical-align: center;
}

a .index_button {
    padding: 2% 4%;
    font-size: 13pt;
    background-color: #50c936;
    margin: 3%;
    margin-bottom: 5%;
    border: none;
}

a:last-child .index_button {
    background-color: #639eda;
}

a .index_button {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#submit {
    padding: 3% 4%;
    font-size: 12pt;
    background-color: #639eda;
    color: white;
    font-weight: bold;
    border: none;
}

.right-col{
    width: 50%;
    float: right;
}

.left-col{
    width: 50%;
    float: left;
}


.row {
    content: "";
    display: table;
    clear: both;
  }

.register_form,
.login_form {
    background-color: rgba(48, 46, 8, 0.2);
    padding: 3%;
    margin: 10% auto;
    margin-top: 7%;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    color: #f7f479;
}


.login_form input, .register_form input{
    width: 100%;
    padding: 7px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.right-col{
    padding-left: 5px;
}

.left-col{
    padding-right: 5px;
}


.login_form {
    width: 30%;
}


.register_form {
    width: 40%;
}

form span {
    font-size: 10pt;
    font-weight: normal;
}

.choice {
    display: inline-block;
}

#after_choice {
    color: white;
    text-align: center;
    margin-top: 8%;
}

#after_choice span {
    font-weight: bold;
    font-size: 13pt;
}

#after_choice h1 {
    font-size: 35pt;
}

#err_msg {
    font-size: 8pt;
    float: left;
    vertical-align: center;
}
.title_err{
    font-size: 10pt;
    float: left;
    vertical-align: center;
}

#secretHigiene, #secretFome, #secretEnergia, #secretSaude, #secretFelicidade{
    display:none;
}